.Navbar {
  width: 100%;
  padding: 0.5rem0;
  background-color: #1c3643;
}

.Navbar__brand {
  color: #ffffff;

  display: inline;
  align-items: center;
  padding-right: 20px;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
}
